.markdown-rendered.rtl {
    .list-bullet {
        float: right;
        margin-right: -12px;
    }

    blockquote {
        border-right: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
        border-left: none;
    }

    .collapse-indicator {
        float: right;
        margin-left: unset;
        margin-right: -22px;
    }
}