/*---------------------------------------------------------------
* SIMPLE RAINBOW STYLE
*---------------------------------------------------------------*/
.loopsk-simple-rainbow-color-toggle {

    // Apply styling to titles
    &.loopsk-simple-rainbow-title-toggle {

        .nav-files-container>div>.nav-folder .nav-folder-title,
        [data-type="bookmarks"] .tree-item .tree-item-inner {
            transition: color 0.4s;
            color: rgba(var(--rainbow-folder-color),
                    var(--loopsk-simple-rainbow-opacity, 1));
            --nav-item-background-hover: rgba(var(--rainbow-folder-color), 0.1);
            --nav-item-background-active: rgba(var(--rainbow-folder-color), 0.1);
        }

        .nav-folder.is-being-dragged-over {
            background-color: rgba(var(--rainbow-folder-color), 0.1);
        }
    }

    // Circle icon indicator
    &.loopsk-simple-rainbow-icon-toggle {

        .nav-files-container>div>.nav-folder .nav-folder-title:after,
        [data-type="bookmarks"] .tree-item .tree-item-inner:after {
            transition: color 0.4s;
            color: rgba(var(--rainbow-folder-color),
                    var(--loopsk-simple-rainbow-opacity, 1));
            content: "⬤";
            font-size: 10px;
            position: relative;
            margin-left: 4px;
            opacity: 0.5;
            top: -0.5px;
        }

        [data-type="bookmarks"] .tree-item .tree-item-inner {
            align-items: center;
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
        }
    }

    // Color indents
    &.loopsk-simple-rainbow-indentation-toggle {

        .nav-files-container .nav-folder>.nav-folder-children,
        [data-type="bookmarks"] .tree-item .tree-item-children {
            transition: color 0.4s;
            border-color: rgba(var(--rainbow-folder-color), 0.5);
        }
    }

    // Color Collapse Indicators
    &.loopsk-simple-rainbow-collapse-icon-toggle {
        .tree-item-self .tree-item-icon {
            --icon-color: rgba(var(--rainbow-folder-color),
                    var(--loopsk-simple-rainbow-opacity, 1));
            --nav-collapse-icon-color: rgba(var(--rainbow-folder-color),
                    var(--loopsk-simple-rainbow-opacity, 1));
            --nav-collapse-icon-color-collapsed: rgba(var(--rainbow-folder-color),
                    var(--loopsk-simple-rainbow-opacity, 1));
        }
    }
}