/* @settings
name: Skywalker Themes Extended
id: skywalker-theme-settings-extended
settings:
  -
    id: loopsk-theme-ext-light
    title: Toggle extended light theme
    type: class-toggle
  -
    id: loopsk-theme-ext-dark
    title: Toggle extended dark theme
    type: class-toggle
  -
    id: catppuccin-theme-extended
    title: Light theme flavor
    description: Select your preferred light mode flavor
    type: class-select
    allowEmpty: false
    default: ctp-nord-light
    options:
        -
            label: Atom
            value: ctp-atom-light
        -
            label: Everforest
            value: ctp-everforest-light
        -
            label: Gruvbox
            value: ctp-gruvbox-light
        -
            label: Material Mint
            value: ctp-material-mint-light
        -
            label: Luminescence
            value: ctp-luminescence-light
        -
            label: Nord
            value: ctp-nord-light
        -
            label: Notion
            value: ctp-notion-light
        -
            label: Sandy Beaches
            value: ctp-sandy-beaches-light
  -
    id: catppuccin-theme-dark-extended
    title: Dark theme flavor
    description: Select your preferred dark mode flavor
    type: class-select
    allowEmpty: false
    default: ctp-nord-dark
    options:
        -
            label: Atom
            value: ctp-atom-dark
        -
            label: Biscuit
            value: ctp-biscuit-dark
        -
            label: Coffee
            value: ctp-coffee-dark
        -
            label: Dark (Generic)
            value: ctp-generic-dark
        -
            label: Dracula
            value: ctp-dracula
        -
            label: Everforest
            value: ctp-everforest-dark
        -
            label: Gruvbox
            value: ctp-gruvbox-dark
        -
            label: Kanagawa
            value: ctp-kanagawa-dark
        -
            label: Material Mint
            value: ctp-material-mint-dark
        -
            label: Nord
            value: ctp-nord-dark
        -
            label: Notion
            value: ctp-notion-dark
        -
            label: Nord Dark (Custom palette)
            value: ctp-nord-darker
        -
            label: Rosé Pine
            value: ctp-rosepine-dark
        -
            label: Rosebox
            value: ctp-rosebox
        -
            label: Royal Velvet
            value: ctp-royal-velvet
        -
            label: Solarized
            value: ctp-solarized-dark
        -
            label: Thorns
            value: ctp-thorns
*/

@use "sass:color";
@use "sass:math";
@use "sass:map";
@use "ext-colorschemes/atom-dark.scss";
@use "ext-colorschemes/atom-light.scss";
@use "ext-colorschemes/biscuit-dark.scss";
@use "ext-colorschemes/coffee-dark.scss";
@use "ext-colorschemes/dracula.scss";
@use "ext-colorschemes/everforest-light.scss";
@use "ext-colorschemes/everforest-dark.scss";
@use "ext-colorschemes/generic-dark.scss";
@use "ext-colorschemes/gruvbox-dark.scss";
@use "ext-colorschemes/gruvbox-light.scss";
@use "ext-colorschemes/kanagawa-dark.scss";
@use "ext-colorschemes/luminscence-light.scss";
@use "ext-colorschemes/nord-dark.scss";
@use "ext-colorschemes/nord-light.scss";
@use "ext-colorschemes/nord-darker.scss";
@use "ext-colorschemes/notion-light.scss";
@use "ext-colorschemes/notion-dark.scss";
@use "ext-colorschemes/rosebox.scss";
@use "ext-colorschemes/rosepine-dark.scss";
@use "ext-colorschemes/royal-velvet.scss";
@use "ext-colorschemes/sandy-beaches-light.scss";
@use "ext-colorschemes/solarized-dark.scss";
@use "ext-colorschemes/thorns.scss";
@use "ext-colorschemes/material-mint-light.scss";
@use "ext-colorschemes/material-mint-dark.scss";

$ext-color-list: "rosewater", "flamingo", "pink", "mauve", "red", "maroon",
	"peach", "yellow", "green", "teal", "sky", "sapphire", "blue", "lavender",
	"text", "subtext1", "subtext0", "overlay2", "overlay1", "overlay0", "surface2",
	"surface1", "surface0", "base", "mantle", "crust";

$ext-theme-list: atom-light.$theme-atom-light, atom-dark.$theme-atom-dark,
	biscuit-dark.$theme-biscuit-dark, coffee-dark.$theme-coffee-dark, dracula.$theme-dracula,
	everforest-light.$theme-everforest-light, everforest-dark.$theme-everforest-dark,
	generic-dark.$theme-generic-dark, gruvbox-dark.$theme-gruvbox-dark, gruvbox-light.$theme-gruvbox-light,
	kanagawa-dark.$theme-kanagawa-dark, luminscence-light.$theme-luminescence-light, material-mint-light.$theme-material-mint-light,
	material-mint-dark.$theme-material-mint-dark, nord-dark.$theme-nord-dark, nord-darker.$theme-nord-darker,
	nord-light.$theme-nord-light, notion-light.$theme-notion-light, notion-dark.$theme-notion-dark, rosebox.$theme-rosebox,
	rosepine-dark.$theme-rosepine-dark, royal-velvet.$theme-royal-velvet, sandy-beaches-light.$theme-sandy-beaches-light,
	solarized-dark.$theme-solarized-dark, thorns.$theme-thorns;

.theme-dark.loopsk-theme-ext-dark.ctp-rosebox {
	--ctp-accent: 165, 117, 98;
	--background-modifier-border: rgb(51, 51, 51);
}

.theme-light.loopsk-theme-ext-light.ctp-nord-light {
	--ctp-accent: 136, 192, 208;
}

.theme-light.loopsk-theme-ext-light.ctp-material-mint-light {
	--ctp-accent: var(--ctp-teal);
}

.theme-dark.loopsk-theme-ext-dark.ctp-material-mint-dark {
	--ctp-accent: var(--ctp-teal);
}

.theme-dark.loopsk-theme-ext-dark.ctp-nord-dark {
	--ctp-accent: 136, 192, 208;
}

.theme-dark.loopsk-theme-ext-dark.ctp-nord-darker {
	--ctp-accent: 136, 192, 208;
}

.theme-light.loopsk-theme-ext-light.ctp-atom-light {
	--ctp-accent: var(--ctp-blue);
}

.theme-dark.loopsk-theme-ext-dark.ctp-atom-dark {
	--ctp-accent: var(--ctp-blue);
}


@each $theme-name in $ext-theme-list {

	.theme-#{map.get($theme-name, theme-mode)}.loopsk-theme-ext-#{map.get($theme-name, theme-mode)}.ctp-#{map.get($theme-name, theme-name)},
	.loopsk-theme-ext-#{map.get($theme-name, theme-mode)}.ctp-#{map.get($theme-name, theme-name)} .themed-color-wrapper>.theme-#{map.get($theme-name, theme-mode)} {
		@each $color-name in $ext-color-list {
			--ctp-ext-#{$color-name}: #{math.round(color.channel(map.get($theme-name, ctp-#{$color-name}), "red", $space: rgb))
		}

		,
		#{math.round(color.channel(map.get($theme-name, ctp-#{$color-name}), "green", $space: rgb))
	}

	,
	#{math.round(color.channel(map.get($theme-name, ctp-#{$color-name}), "blue", $space: rgb))
}

;
}
}
}
