.markdown-rendered :not(pre)>code {
    --code-normal: var(--loopsk-code-text-color, var(--text-normal));
}

.markdown-rendered code:not([class*="language"]) {
    --code-normal: var(--loopsk-code-text-color, var(--text-normal));
}

/* Show language in LP always */
.markdown-source-view.mod-cm6 .HyperMD-codeblock.cm-line.cm-line.cm-line.HyperMD-codeblock-begin {
    overflow-x: visible;
}

.loopsk-codeblock-edit-nowrap {
    .markdown-source-view.mod-cm6 .HyperMD-codeblock.cm-line {
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.loopsk-codeblock-preview-nowrap {
    .markdown-rendered pre {
        white-space: pre;

        & code {
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        overflow-x: auto;
    }
}

.loopsk-codeblock-preview-hl-nowrap {
    .markdown-rendered pre[class*="language-"] {
        white-space: pre;

        & code {
            white-space: pre;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        overflow-x: auto;
    }
}
