$theme-material-mint-light: (
	ctp-rosewater: hsl(10deg 40.6% 60.2%),
	ctp-flamingo: hsl(0deg 40.7% 50.6%),
	ctp-pink: hsl(316deg 40.8% 40.1%),
	ctp-mauve: hsl(267deg 40.5% 40%),
	ctp-red: hsl(343deg 40.3% 40.9%),
	ctp-maroon: hsl(350deg 40.2% 40.5%),
	ctp-peach: hsl(23deg 40% 60.5%),
	ctp-yellow: hsl(41deg 30% 60.1%),
	ctp-green: hsl(115deg 40% 30.1%),
	ctp-teal: hsl(190deg 30.4% 40%),
	ctp-sky: hsl(189deg 40% 30.9%),
	ctp-sapphire: hsl(199deg 40.9% 30%),
	ctp-blue: hsl(218deg 40.5% 30.3%),
	ctp-lavender: hsl(232deg 30.4% 30.1%),
	ctp-text: #05090A,
	ctp-subtext1: #0B1214,
	ctp-subtext0: #121F21,
	ctp-overlay2: #1D3135,
	ctp-overlay1: #2B4950,
	ctp-overlay0: #39626A,
	ctp-surface2: #477A85,
	ctp-surface1: #56939F,
	ctp-surface0: #6DA5B0,
	ctp-base: #BDD6DB,
	ctp-mantle: #A2C6CD,
	ctp-crust: #88B6BF,
  theme-mode: "light",
  theme-name: "material-mint-light",
)
