.obsidian-icon-folder-icon {
    margin-top: -5px;
}


.obsidian-icon-folder-modal.prompt-results .suggestion-item {
    color: var(--text-normal);
}

.prompt .obsidian-icon-folder-subheadline {
    color: var(--text-muted);
}
